In [2]:
import pandas as pd
import numpy as  np
from __future__ import unicode_literals
from hazm import *
data = pd.read_csv("vehicles.csv")
del data['created_at']
data

,brand,category,description,image_count,mileage,price,title,year
0,NaN,heavy,سریال 43j$NUMبدون شکستگی سه حلقه لاستیک نو یک ...,4,NaN,-1,لودر کاتر پیلار 950,NaN
1,سایر,light,دوگانه ال پی جی بیمه با تخفیف دارد \nتودوزی نو...,3,180000.0,-1,پاترول شش سیلندر چهار درب,1366
2,پژو ۴۰۵::Peugeot 405,light,پژو 2000فنی تازه تعمیر بدنه بدون خطو خش تخیف ب...,0,290000.0,8500000,پژو مدل 81 مشکی,1381
3,نیسان::Nissan,light,سلام.\nماشین کاملا سالم همه چی فابریک متور زد ...,3,175000.0,19500000,پاترول 2در,1372
4,سمند::Samand,light,سمند ال ایکس بدون رنگ تمامی سرویس ها انجام شده...,4,80000.0,23900000,سمند دوگانه کارخانه,1391
...,...,...,...,...,...,...,...,...
130438,NaN,heavy,بادسان فوق بیرنگ سفید رنگ بیمه تابرج 3.96 تخفی...,2,NaN,48000000,بادسان 8b14 مدل83,NaN
130439,NaN,heavy,باسلام .تراکتورازصفری دست خودم بوده.سالم.ودارا...,4,NaN,-1,تراکتورگلدونی ۲۳۸ایتالیا,NaN
130440,سمند::Samand,light,ماشینم تصادفیه با خریدار توافق میکنم سر قیمتش,3,20000.0,-1,خودرو سمند تصادفی مدل92,1392
130441,پراید صندوق‌دار::Pride,light,سند۲ برگ،بیمه تا برج$NUMتخفیفات بیمه 15 سال،مع...,4,123000.0,6900000,پراید 79 بسیار سالم,1379
130442,پراید صندوق‌دار::Pride,light,پراید دوگانه کارخانه میباشد و کم کارکرد.روکش ....,3,43000.0,17400000,پراید دوگانه کارخانه مدل93,1393

In [3]:
data.isna().sum()

brand          9992
category          0
description       0
image_count       0
mileage        9992
price             0
title             0
year           9992
dtype: int64

In [4]:
brand_df = data.copy()[['brand','price']]
brand_df.dropna(subset=['brand'],inplace=True)
category_df = data.copy()[['category', 'price']]
description_df = data.copy()[['description', 'price']]
image_count_df = data.copy()[['image_count', 'price']]
mileage_df = data.copy()[['mileage','price']]
mileage_df.dropna(subset=['mileage'],inplace=True)
title_df = data.copy()[['title', 'price']]
year_df = data.copy()[['year','price']]
year_df.dropna(subset=['year'],inplace=True)

In [5]:
category_df["category"] = category_df["category"].astype('category')
category_df["category"] = category_df["category"].cat.codes
brand_df["brand"] = brand_df["brand"].astype('category')
brand_df["brand"] = brand_df["brand"].cat.codes

data["category"] = data["category"].astype('category')
data["category"] = data["category"].cat.codes
data["brand"] = data["brand"].astype('category')
data["brand"] = data["brand"].cat.codes

In [6]:
import random 

def create_keys_ranges(df):
    counter = {}
    probs = {}
    keys_ranges = {}
    for row in df.iloc[:, 0]:
        if row in counter:
            counter[row] += 1
        else:
            counter[row] = 1
    
    for count in counter:
        probs[count] = counter[count]/len(df)
    
    prev_prob = 0
    for key in probs:
        keys_ranges[key] = [prev_prob, prev_prob + probs[key]]
        prev_prob += probs[key]
    
    return keys_ranges

brand_keys_ranges = create_keys_ranges(brand_df)
year_keys_ranges = create_keys_ranges(year_df)
mileage_keys_ranges = create_keys_ranges(mileage_df)


def fill_nan_randomly(keys_ranges):
    rand_num = random.random()
    for key in keys_ranges:
        if keys_ranges[key][0] < rand_num  and rand_num < keys_ranges[key][1]:
            return key

def fill_nan(col_name, col_keys_ranges):
    for row in range(len(data[col_name])):
        if data.at[row, col_name] == -1 or pd.isna(data.at[row, col_name]):
            num_to_replace = fill_nan_randomly(col_keys_ranges)
            data.at[row, col_name] = num_to_replace
      
    
fill_nan('brand', brand_keys_ranges)
fill_nan('mileage', mileage_keys_ranges)
fill_nan('year', year_keys_ranges)

test_data = data[data['price'] == -1]
train_data = data[data['price'] != -1]
train_data

,brand,category,description,image_count,mileage,price,title,year
2,23,1,پژو 2000فنی تازه تعمیر بدنه بدون خطو خش تخیف ب...,0,290000.0,8500000,پژو مدل 81 مشکی,1381
3,13,1,سلام.\nماشین کاملا سالم همه چی فابریک متور زد ...,3,175000.0,19500000,پاترول 2در,1372
4,11,1,سمند ال ایکس بدون رنگ تمامی سرویس ها انجام شده...,4,80000.0,23900000,سمند دوگانه کارخانه,1391
5,23,1,بیمه یکسال ده سال تخفیف دور رنگ شاسی پلمپ سالم,3,125000.0,8500000,پژو405 مدل84,1384
6,0,1,ام وی ام چهار سیلندر مدل 93 فنی سالم بدون رنگ ...,2,11000.0,18500000,ام وی ام 110 چهار سیلندر,1393
...,...,...,...,...,...,...,...,...
130435,3,1,فوق‌العاده سالم بدون رنگ دزدگیر ماجیکار شیشه ه...,2,173000.0,30000000,ال۹۰ E2,1390
130436,17,1,مدل 84 تمیز. بدون رنگ. سیستم صوتی. رینگ و لاست...,3,140000.0,11000000,پراید مدل 84 بدون رنگ,1384
130438,20,0,بادسان فوق بیرنگ سفید رنگ بیمه تابرج 3.96 تخفی...,2,52000.0,48000000,بادسان 8b14 مدل83,1390
130441,17,1,سند۲ برگ،بیمه تا برج$NUMتخفیفات بیمه 15 سال،مع...,4,123000.0,6900000,پراید 79 بسیار سالم,1379
130442,17,1,پراید دوگانه کارخانه میباشد و کم کارکرد.روکش ....,3,43000.0,17400000,پراید دوگانه کارخانه مدل93,1393

In [7]:
# stemmer = Stemmer()
# lemmatizer = Lemmatizer()
# stopword_dict = {sw:0 for sw in stopwords_list()}
# description_df

# def normalize_description(df,feature):
#     i=0
#     for row in df[feature]:
#         tokenized_sentence = word_tokenize(row)
#         new_sentence = ""
#         for word in tokenized_sentence:
#             if word in  [':','؟','.',',','«','»','(',')','،','[',']','{','}','-','','؛', '\r', '\n']:
#                 continue
#             if word in stopword_dict:
#                 continue
#             word = stemmer.stem(word)
#             lemmitized_word = lemmatizer.lemmatize(word)
#             new_sentence+=(lemmitized_word) 
#         df[feature][i] = new_sentence
# #         print(new_sentence)
#         i += 1
#         if i == 1000:
#             break
#     return df
# # print(description_df['description'][0])
# description_df = normalize_description(description_df, "description")
# description_df['description'][0]

In [8]:
import math

price_dict = {}
for price in train_data['price']:
    if price in price_dict:
        price_dict[price] += 1
    else:
        price_dict[price] = 1

root_types_num = len(price_dict)


def find_I(df):
    price_dict = {}
    for price in df['price']:
        if price in price_dict:
            price_dict[price] += 1
        else:
            price_dict[price] = 1
    
    length = len(df)
    ans = 0
    for i in price_dict:
        p = price_dict[i]/length
        ans += -p * math.log(p,root_types_num)
    return ans


root_entropy = find_I(train_data)

def find_info_gain(df, feature):
    df_dict = {}
    for row in df[feature]:
        if row in df_dict:
            df_dict[row] += 1
        else:
            df_dict[row] = 1
    df_length = len(df)
    final_ans = 0
    for i in df_dict:
        type_probability = df_dict[i]/df_length
        temp_df = df[df[feature] == i]
        ans = find_I(temp_df)
        final_ans += type_probability * ans
        
    return root_entropy - final_ans

# for col in train_data.columns:
print(find_info_gain(train_data, 'brand'))
print(find_info_gain(train_data, 'category'))
print(find_info_gain(train_data, 'image_count'))
print(find_info_gain(train_data, 'mileage'))
print(find_info_gain(train_data, 'year'))
# print(find_info_gain(train_data, 'created_at'))

0.09243533451392227
0.010786978834546046
0.005919775239621394
0.13785628297487296
0.0785164127730964

In [9]:
# X = [[0], [1], [2], [3]]
# y = [0, 0, 1, 1]
# from sklearn.neighbors import KNeighborsClassifier
# neigh = KNeighborsClassifier(n_neighbors=3)
# neigh.fit(X, y)
# print(neigh.predict([[1.6]]))
# print(neigh.predict_proba([[0.9]]))
del train_data['description']
del train_data['title']
train_data['year'].replace("<1366", 1365, inplace=True)
train_data

/usr/lib/python3/dist-packages/pandas/core/generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

        brand  category  image_count   mileage     price  year
2          23         1            0  290000.0   8500000  1381
3          13         1            3  175000.0  19500000  1372
4          11         1            4   80000.0  23900000  1391
5          23         1            3  125000.0   8500000  1384
6           0         1            2   11000.0  18500000  1393
...       ...       ...          ...       ...       ...   ...
130435      3         1            2  173000.0  30000000  1390
130436     17         1            3  140000.0  11000000  1384
130438     20         0            2   52000.0  48000000  1390
130441     17         1            4  123000.0   6900000  1379
130442     17         1            3   43000.0  17400000  1393

[110054 rows x 6 columns]

In [10]:
dataset = train_data.copy()
X = dataset.drop('price', axis=1)
y = dataset['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

from sklearn.tree import DecisionTreeClassifier
c = DecisionTreeClassifier()
c.fit(X_train, y_train)

# y_pred = classifier.predict(X_test)

# from sklearn.metrics import classification_report, confusion_matrix
# print(confusion_matrix(y_test, y_pred))
# print(classification_report(y_test, y_pred))

NameError: name 'train_test_split' is not defined

In [ ]:
from sklearn.preprocessing import StandardScaler
  

scaler = StandardScaler()
  
scaler.fit(train_data.drop('price', axis = 1))
scaled_features = scaler.transform(train_data.drop('price', axis = 1))
  
df_feat = pd.DataFrame(scaled_features, columns = train_data.columns[:-1])
df_feat.head()

In [ ]:
from sklearn.model_selection import train_test_split
  
X_train, X_test, y_train, y_test = train_test_split(
      scaled_features, train_data['price'], test_size = 0.30)

  
from sklearn.neighbors import KNeighborsClassifier
  
knn = KNeighborsClassifier(n_neighbors = 1)
  
knn.fit(X_train, y_train)
pred = knn.predict(X_test)
   
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, pred))
  
print(classification_report(y_test, pred))

In [ ]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# error_rate = []
  
# for i in range(1, 40):
#     print(i)
#     knn = KNeighborsClassifier(n_neighbors = i)
#     knn.fit(X_train, y_train)
#     pred_i = knn.predict(X_test)
#     error_rate.append(np.mean(pred_i != y_test))

In [ ]:
# plt.figure(figsize =(10, 6))
# plt.plot(range(1, 40), error_rate, color ='blue',
#                 linestyle ='dashed', marker ='o',
#          markerfacecolor ='red', markersize = 10)
  
# plt.title('Error Rate vs. K Value')
# plt.xlabel('K')
# plt.ylabel('Error Rate')

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 30)
  
knn.fit(X_train, y_train)
pred = knn.predict(X_test)
print('WITH K = 15')
print('\n')
print(confusion_matrix(y_test, pred))
print('\n')
print(classification_report(y_test, pred))

In [ ]:
def rmse(ans, predicted):
    sum = 0
    n = len(predicted)
    count= 0
    for y in ans:
        a = y - predicted[count]
        sum += (a ** 2) / n
        count += 1
    return math.sqrt(sum)

def mse(ans, predicted):
    sum = 0
    n = len(predicted)
    count= 0
    for y in ans:
        a = y - predicted[count]
        sum += a ** 2
        count += 1
    return sum / n
print(rmse(y_test, pred))
print(mse(y_test, pred))

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression



df_binary500 = train_data
X = np.array(df_binary500['mileage']).reshape(-1, 1)
y = np.array(df_binary500['price']).reshape(-1, 1)
  
# Separating the data into independent and dependent variables
# Converting each dataframe into a numpy array 
# since each dataframe contains only one column
# train_data.dropna(inplace = True)
  
# Dropping any rows with Nan values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.02)
  
# Splitting the data into training and testing data
regr = LinearRegression()
  
regr.fit(X_train, y_train)



y_pred = regr.predict(X_test)
plt.scatter(X_test, y_test, color ='b')
plt.plot(X_test, y_pred, color ='k')
  
plt.show()

print(rmse(y_test, y_pred))
# print(y_pred)
# y_test
# sns.lmplot(x ="mileage", y ="price", data = df_binary500,
#                                order = 2, ci = None)

In [ ]:
# dataset = train_data.copy()
# X = dataset.drop('price', axis=1)
# y = dataset['price']
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

# from sklearn.tree import DecisionTreeClassifier
# c = DecisionTreeClassifier()
# c.fit(X_train, y_train)

# # y_pred = classifier.predict(X_test)

# # from sklearn.metrics import classification_report, confusion_matrix
# # print(confusion_matrix(y_test, y_pred))
# # print(classification_report(y_test, y_pred))