In [185]:
import pandas as pd
import numpy as  np
from __future__ import unicode_literals
from hazm import *
data = pd.read_csv("vehicles.csv")
del data['created_at']
data['description'] += " " + data['title']
del data['title']
data['year'].replace("<1366", 1365, inplace=True)
data

,brand,category,description,image_count,mileage,price,year
0,NaN,heavy,سریال 43j$NUMبدون شکستگی سه حلقه لاستیک نو یک ...,4,NaN,-1,NaN
1,سایر,light,دوگانه ال پی جی بیمه با تخفیف دارد \nتودوزی نو...,3,180000.0,-1,1366
2,پژو ۴۰۵::Peugeot 405,light,پژو 2000فنی تازه تعمیر بدنه بدون خطو خش تخیف ب...,0,290000.0,8500000,1381
3,نیسان::Nissan,light,سلام.\nماشین کاملا سالم همه چی فابریک متور زد ...,3,175000.0,19500000,1372
4,سمند::Samand,light,سمند ال ایکس بدون رنگ تمامی سرویس ها انجام شده...,4,80000.0,23900000,1391
...,...,...,...,...,...,...,...
130438,NaN,heavy,بادسان فوق بیرنگ سفید رنگ بیمه تابرج 3.96 تخفی...,2,NaN,48000000,NaN
130439,NaN,heavy,باسلام .تراکتورازصفری دست خودم بوده.سالم.ودارا...,4,NaN,-1,NaN
130440,سمند::Samand,light,ماشینم تصادفیه با خریدار توافق میکنم سر قیمتش ...,3,20000.0,-1,1392
130441,پراید صندوق‌دار::Pride,light,سند۲ برگ،بیمه تا برج$NUMتخفیفات بیمه 15 سال،مع...,4,123000.0,6900000,1379
130442,پراید صندوق‌دار::Pride,light,پراید دوگانه کارخانه میباشد و کم کارکرد.روکش ....,3,43000.0,17400000,1393

In [106]:
from __future__ import unicode_literals
from hazm import *
stopword_dict = {sw:0 for sw in stopwords_list()}
stemmer = Stemmer()
lemmatizer = Lemmatizer()
tagger = POSTagger(model="resources/postagger.model")
document = []
i=0
t = data[data['price']!= -1]
for desc in t['description']:
    sentence = ""
    tokenized_sentence = word_tokenize(desc)
    tokenized_sentence_tagged = tagger.tag(tokenized_sentence)
    for word in tokenized_sentence_tagged:
        if word[0] in  [':','؟','.',',','«','»','(',')','،','[',']','{','}','-','','؛', '\r', '\n']:
            continue
        if word[0] in stopword_dict:
            continue
        if word[1] in ['PUNC', 'P', 'V', 'NUM', 'ADV', 'CONJ', 'DET', 'Pe', 'PRO', 'POSTP', 'AJ']:
            continue
        w = stemmer.stem(word[0])
        lemmitized_word = lemmatizer.lemmatize(w)
        sentence += lemmitized_word + " "
    document.append(sentence)
    i+=1
    if i == 30000:
        break

In [95]:
from sklearn.feature_extraction.text import CountVectorizer
import collections
import itertools

vectorizer = CountVectorizer()
  
cv_fit = vectorizer.fit_transform(document)

inv_map = {v: k for k, v in vectorizer.vocabulary_.items()}

count_vocab = cv_fit.toarray().sum(axis=0)

indexes = {}
for i in range(len(count_vocab)):
    indexes[count_vocab[i]] = i

tmp = collections.OrderedDict(sorted(indexes.items(), reverse = True))

tmp = dict(itertools.islice(tmp.items(), 50))

most_recurrent_words = []
for count in tmp:
    if tmp[count] in inv_map:
        most_recurrent_words.append(inv_map[tmp[count]])

In [186]:
data.isna().sum()

brand          9992
category          0
description       0
image_count       0
mileage        9992
price             0
year           9992
dtype: int64

<h4> داریم که آن ها را حذف می کنیم و در متغیر های جدیدی ذخیره می کنیم زیرا در آینده با آن ها کار خواهیم داشتnan در 3 ستون قیمت و برند و میزان مایل کارکردی ماشین داده های </h4>

In [187]:
brand_df = data.copy()[['brand','price']]
brand_df.dropna(subset=['brand'],inplace=True)
mileage_df = data.copy()[['mileage','price']]
mileage_df.dropna(subset=['mileage'],inplace=True)
year_df = data.copy()[['year','price']]
year_df.dropna(subset=['year'],inplace=True)

<h4>برای ستون های کتگوری و برند، چون حالت دسته بندی دارند، لیبل گذاری می کنیم و مقدار رشته ای از کلمات بودنشان را به اعداد منحصر به فرد تبدیل می کنیم</h4>

In [199]:
category_df["category"] = category_df["category"].astype('category')
category_df["category"] = category_df["category"].cat.codes
brand_df["brand"] = brand_df["brand"].astype('category')
brand_df["brand"] = brand_df["brand"].cat.codes

# data["category"] = data["category"].astype('category')
# data["category"] = data["category"].cat.codes
# data["brand"] = data["brand"].astype('category')
# data["brand"] = data["brand"].cat.codes


y = pd.get_dummies(data.brand, prefix='brand')
y.head(50)
z = y + 
z
# from sklearn.preprocessing import LabelBinarizer

# data = data.fillna("-1")
# y = LabelBinarizer().fit_transform(data.brand)
# print(y)

,brand_ام‌وی‌ام::MVM,brand_بنز::Mercedes-Benz,brand_بی‌ام‌و::BMW,brand_تندر ۹۰::Tondar 90,brand_تویوتا::Toyota,brand_تیبا::Tiba,brand_دوو::Daewoo,brand_رانا::Runna,brand_رنو::Renault,brand_زانتیا::Citroen Xantia,...,brand_وانت,brand_پراید صندوق‌دار::Pride,brand_پراید هاچ‌بک::Pride,brand_پژو روآ / آر‌دی::RD/ROA,brand_پژو پارس::Peugeot Pars,brand_پژو ۲۰۶‍ صندوق‌دار::Peugeot 206,brand_پژو ۲۰۶‍::Peugeot 206,brand_پژو ۴۰۵::Peugeot 405,brand_پیکان::Peykan,brand_کیا::Kia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130438,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130439,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130440,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
130441,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
130442,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

<h1>Fill Nan values:</h1>

<h4></h4>

In [121]:
import random 

def create_keys_ranges(df):
    counter = {}
    probs = {}
    keys_ranges = {}
    for row in df.iloc[:, 0]:
        if row in counter:
            counter[row] += 1
        else:
            counter[row] = 1
    
    for count in counter:
        probs[count] = counter[count]/len(df)
    
    prev_prob = 0
    for key in probs:
        keys_ranges[key] = [prev_prob, prev_prob + probs[key]]
        prev_prob += probs[key]
    
    return keys_ranges

brand_keys_ranges = create_keys_ranges(brand_df)
year_keys_ranges = create_keys_ranges(year_df)
mileage_keys_ranges = create_keys_ranges(mileage_df)

def fill_nan_randomly(keys_ranges):
    rand_num = random.random()
    for key in keys_ranges:
        if keys_ranges[key][0] < rand_num  and rand_num < keys_ranges[key][1]:
            return key

def fill_nan(col_name, col_keys_ranges):
    for row in range(len(data[col_name])):
        if data.at[row, col_name] == -1 or pd.isna(data.at[row, col_name]):
            num_to_replace = fill_nan_randomly(col_keys_ranges)
            data.at[row, col_name] = num_to_replace
      
    
fill_nan('brand', brand_keys_ranges)
fill_nan('mileage', mileage_keys_ranges)
fill_nan('year', year_keys_ranges)

test_data = data[data['price'] == -1]
train_data = data[data['price'] != -1]
train_data

,brand,category,description,image_count,mileage,price,year
2,23,1,پژو 2000فنی تازه تعمیر بدنه بدون خطو خش تخیف ب...,0,290000.0,8500000,1381
3,13,1,سلام.\nماشین کاملا سالم همه چی فابریک متور زد ...,3,175000.0,19500000,1372
4,11,1,سمند ال ایکس بدون رنگ تمامی سرویس ها انجام شده...,4,80000.0,23900000,1391
5,23,1,بیمه یکسال ده سال تخفیف دور رنگ شاسی پلمپ سالم...,3,125000.0,8500000,1384
6,0,1,ام وی ام چهار سیلندر مدل 93 فنی سالم بدون رنگ ...,2,11000.0,18500000,1393
...,...,...,...,...,...,...,...
130435,3,1,فوق‌العاده سالم بدون رنگ دزدگیر ماجیکار شیشه ه...,2,173000.0,30000000,1390
130436,17,1,مدل 84 تمیز. بدون رنگ. سیستم صوتی. رینگ و لاست...,3,140000.0,11000000,1384
130438,23,0,بادسان فوق بیرنگ سفید رنگ بیمه تابرج 3.96 تخفی...,2,100.0,48000000,1389
130441,17,1,سند۲ برگ،بیمه تا برج$NUMتخفیفات بیمه 15 سال،مع...,4,123000.0,6900000,1379
130442,17,1,پراید دوگانه کارخانه میباشد و کم کارکرد.روکش ....,3,43000.0,17400000,1393

<h1> Information Gain</h1>

In [126]:
import math

price_dict = {}
for price in train_data['price']:
    if price in price_dict:
        price_dict[price] += 1
    else:
        price_dict[price] = 1

root_types_num = len(price_dict)


def find_I(df):
    price_dict = {}
    for price in df['price']:
        if price in price_dict:
            price_dict[price] += 1
        else:
            price_dict[price] = 1
    
    length = len(df)
    ans = 0
    for i in price_dict:
        p = price_dict[i]/length
        ans += -p * math.log(p,root_types_num)
    return ans


root_entropy = find_I(train_data)

def find_info_gain(df, feature):
    df_dict = {}
    for row in df[feature]:
        if row in df_dict:
            df_dict[row] += 1
        else:
            df_dict[row] = 1
    df_length = len(df)
    final_ans = 0
    for i in df_dict:
        type_probability = df_dict[i]/df_length
        temp_df = df[df[feature] == i]
        ans = find_I(temp_df)
        final_ans += type_probability * ans
        
    return root_entropy - final_ans

for col in train_data.columns:
    if col not in ['description', 'created_at', 'price']:
        print(col,"Information Gain: ", find_info_gain(train_data, col))

brand Information Gain:  0.09237948438689758
category Information Gain:  0.010786978834546046
image_count Information Gain:  0.005919775239621394
mileage Information Gain:  0.1377907574155044
year Information Gain:  0.07850552330472949

In [127]:
del train_data['description']
train_data

        brand  category  image_count   mileage     price  year
2          23         1            0  290000.0   8500000  1381
3          13         1            3  175000.0  19500000  1372
4          11         1            4   80000.0  23900000  1391
5          23         1            3  125000.0   8500000  1384
6           0         1            2   11000.0  18500000  1393
...       ...       ...          ...       ...       ...   ...
130435      3         1            2  173000.0  30000000  1390
130436     17         1            3  140000.0  11000000  1384
130438     23         0            2     100.0  48000000  1389
130441     17         1            4  123000.0   6900000  1379
130442     17         1            3   43000.0  17400000  1393

[110054 rows x 6 columns]

<h1>RMSE and MSE</h1>

In [128]:
from sklearn import metrics

def rmse(ans, predicted):
    sum = 0
    n = len(predicted)
    count= 0
    for y in ans:
        a = y - predicted[count]
        sum += (a ** 2) / n
        count += 1
    return math.sqrt(sum)

def mse(ans, predicted):
    sum = 0
    n = len(predicted)
    count= 0
    for y in ans:
        a = y - predicted[count]
        sum += a ** 2
        count += 1
    return sum / n

In [135]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

<h1>KNN</h1>

In [130]:
from sklearn.neighbors import KNeighborsClassifier

scaler = StandardScaler()
  
scaler.fit(train_data.drop('price', axis = 1))
scaled_features = scaler.transform(train_data.drop('price', axis = 1))
  
df_feat = pd.DataFrame(scaled_features, columns = train_data.columns[:-1])
df_feat.head()

      brand  category  image_count   mileage     price
0  1.147584  0.245481    -1.283489  1.909238 -1.197154
1 -0.523049  0.245481     0.753492  0.736027 -2.816257
2 -0.857176  0.245481     1.432486 -0.233146  0.601849
3  1.147584  0.245481     0.753492  0.225936 -0.657453
4 -2.694872  0.245481     0.074498 -0.937073  0.961649

In [131]:
  X_train, X_test, y_train, y_test = train_test_split(scaled_features, train_data['price'], test_size = 0.30)

In [54]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# error_rate = []
  
# for i in range(1, 40):
#     print(i)
#     knn = KNeighborsClassifier(n_neighbors = i)
#     knn.fit(X_train, y_train)
#     pred_i = knn.predict(X_test)
#     error_rate.append(np.mean(pred_i != y_test))

In [ ]:
# plt.figure(figsize =(10, 6))
# plt.plot(range(1, 40), error_rate, color ='blue',
#                 linestyle ='dashed', marker ='o',
#          markerfacecolor ='red', markersize = 10)
  
# plt.title('Error Rate vs. K Value')
# plt.xlabel('K')
# plt.ylabel('Error Rate')

In [132]:
knn = KNeighborsClassifier(n_neighbors = 30)
  
knn.fit(X_train, y_train)
pred = knn.predict(X_test)

print('RMSE: ', rmse(y_test, pred))
print('MSE: ', metrics.mean_squared_error(y_test, pred))

RMSE:  27814164.574731804
MSE:  773627750990242.0

<h1>Linear Regression</h1>

In [141]:
from sklearn.linear_model import LinearRegression


y = train_data.iloc[:, 4].values
X = train_data.drop('price', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print('RMSE: ', rmse(y_test, y_pred))
print('MSE: ', metrics.mean_squared_error(y_test, y_pred))

RMSE:  26939041.049579833
MSE:  725711932670946.5

<h1>Decision Tree</h1>

In [139]:
from sklearn.tree import DecisionTreeClassifier

X = train_data.drop('price', axis=1)
y = train_data['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

classifier = DecisionTreeClassifier(max_depth = 10)
classifier.fit(X_train, y_train)

y_pred = classifier.predict(X_test)

print('RMSE: ', rmse(y_test, y_pred))
print('MSE: ', metrics.mean_squared_error(y_test, y_pred))

RMSE:  24152915.89654224
MSE:  583363346305410.5

<h1>Random Forest Regressor</h1>

In [140]:
from sklearn.ensemble import RandomForestRegressor

y = train_data.iloc[:, 4].values
X = train_data.drop('price', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

regressor = RandomForestRegressor(n_estimators=50, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

print('RMSE: ', rmse(y_test, y_pred))
print('MSE: ', metrics.mean_squared_error(y_test, y_pred))

RMSE:  20131724.76815385
MSE:  405286342140698.2